*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*Шрифты по макету*/
/* 
OpenSans Light
font-family: 'Open Sans', sans-serif;
font-weight: 300;

OpenSans Bold
font-family: 'Open Sans', sans-serif;
font-weight: 700;

Roboto Light
font-family: 'Roboto', sans-serif;
font-weight: 300;

Roboto Regular
font-family: 'Roboto', sans-serif;
font-weight: 400;

Roboto Medium
font-family: 'Roboto', sans-serif;
font-weight: 500;

Roboto Bold
font-family: 'Roboto', sans-serif;
font-weight: 700;
*/

/*Content sizing*/
.content_sizing{
    max-width: 1200px;
    margin: 0 auto;
}

/*Header*/
.top_section{
    display: flex;
    justify-content: space-between;
    padding: 16px 30px;
}
.kompozit_logo{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1px;
    color: #00AEEF;
    margin: 0px;
    transform: matrix(1.05, 0, 0, 0.98, 0, 0);
    padding-left: 2px;
}
.logo_under{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 11px;
    color: #000000;
    margin: 0px;
}
.nav-item{
    margin: 16px 8px;
}
.nav-link{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 14px;
    padding: .5rem 1.6rem;
}
.nav-link:hover{
    text-decoration: underline;
    transition: 0.5s;
}
.contact_pill{
    color: white;
    background-color: #00AEEF;
    border: 1px solid  #00AEEF;
}
.contact_pill:hover{
    text-decoration: none;
    color: #00AEEF;
    background-color: white;
    border: 1px solid  #00AEEF;
    transition: 0.5s;
}
.number{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
}
.dropdown-menu{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 8px;
    padding: 16px;
    border: none;
    transition: 1s;
}
.dropdown-menu::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    left: 64px;
    box-sizing: border-box;
    border: 8px solid black;
    border-color: transparent transparent white white;
    transform-origin: 0 0;
    transform: rotate(45deg);
    box-shadow: -0.125rem -.125rem .25rem rgba(0,0,0,.075)!important

}
.dropdown-item{
    margin-bottom: 16px;
    
}
.dropdown-item:hover{
    text-decoration: underline; 
    transition: 0.5s;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black;
    text-decoration: underline;
    background-color: transparent;
}
.navbar{
    display: none;
}

/*Carusel header*/
.carusel_padding{    
    padding-right: 0px;
    padding-left: 0px;
}
.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius:50%;
    border: 1px solid #B3B3B3;
    margin:0px 10px;
    background-color: #FAFAFC;
}
.carousel-indicators .active {
    background-color: #D0D0D0;
}
.carousel-control-next-icon {
    background-image: url(./icons_carusel/prav.png);
}
.carousel-control-prev-icon {
    background-image: url(./icons_carusel/lev.png);
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 22px;
    height: 40px;
    
}
.carusel_bg_1st,.carusel_bg_2th,.carusel_bg_3th,.carusel_bg_4th,.carusel_bg_5th{
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1366px;
    height: 456px;
}
.carusel_bg_1st{
    background-image: url(./images/slider_top/zemlya.png);
}
.carusel_bg_2th{
    background-image: url(./images/slider_top/poroshok.png);
}
.carusel_bg_3th{
    background-image: url(./images/slider_top/main.png);
}
.carusel_bg_4th{
    background-image: url(./images/slider_top/piramida.png);
}
.carusel_bg_5th{
    background-image: url(./images/slider_top/obrezki.png);
}
.carousel-indicators {
    right: auto;
    bottom: 45px;
    left: 0px;
}
.carusel_topic{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7); 
    width: 45%;
    left: 160px;
    bottom: 115px;
    padding: 24px 42px;
}
.carusel_title_top{
    color: black;
    font-size: 30px;
    margin-bottom: 24px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.carusel_caption_top{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
    text-align: justify;
    font-size: 20px;
}
.carousel-control-next {
    justify-content: center;
    opacity: 1;
}
.carousel-control-prev {
    justify-content: center;
    opacity: 1;
}


/*About*/
.title_about{
    text-align: center;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 94px;
    margin-bottom: 52px;
}
.description_about{
    text-indent: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 98px;
    padding: 0px 16px;
    font-size: 18px;
}

/*Our_product*/
.title_our_product{
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 56px;
}
.card_product{
    text-align: center;
}
.image_card{
    width: 100%;
    height: 168px;
}
.title_of_card{
    margin-bottom: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.area_of_card{
    height: 35%;
    border: 1px solid #B7B7B7;
    padding: 26px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.card_with_back_small{
    height: 87%;
    border: 1px solid black;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 160px;
    background-image: url(./images/spech_mat_shaded.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.card_with_back_large{
    height: 90%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 160px;
    background-image: url(./images/shaded_gears.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.pill_for_product{
    color: white;
    background-color: #00AEEF;
    text-align: center;
    border-radius: .25rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: .5rem 1.6rem;
    border: 1px solid  #00AEEF;
}
.pill_for_product:hover{
    color: #00AEEF;
    background-color: white;
    border: 1px solid  #00AEEF;
    text-decoration: none;
    transition: 0.5s;
}
.overlay_small{
    position: absolute;
    opacity: 1;
    top: -0;
    right: 15px; 
    text-align: center;
    background-color: #754C24;
    padding: 8px 24px;
}
.overlay_large{
    position: absolute;
    opacity: 1;
    top: 35px;
    left: 16px;
    text-align: center;
    background-color: #B48A0A;
    padding: 8px 24px;
}
.overlay_title{
    font-size: 18px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}



/*Our_advantages*/
.our_advantages{
    padding-top: 100px;
    padding-bottom: 100px;
}
.title_of_advantages{
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 56px;
}
.caption_advanteges{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 16px;
    font-size: 16px;
}
.card_advanteges{
    text-align: center;
}

/*Our_partners*/
.our_partners{
    background-color: #F9F9F9;
    padding-top: 64px;
    padding-bottom: 100px;
}
.title_partners{
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 56px;
}

/*Bottom_carusel*/
.arr_of_img_bott_carusel{
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.item_of_bott_carusel{
    background-color: #fff;
    width: 144px;
    height: 125px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    cursor: pointer;
}
.control_bottom_prev, .control_bottom_next {
    bottom: 10px;
}
.control_bottom_prev{
    left: -40px;
}
.control_bottom_next {
    right: -40px;
}
.item_faded{
    display: none;
}

.item_of_bott_carusel:hover .item_unfaded{
    display: none;
    transition: 1s;
}
.item_of_bott_carusel:hover .item_faded{
    display: block;
    transition: 1s; 
}

/*Bottom footer*/
.bottom_logo{
    padding-left: 5px;
}
.bottom{
    background-color: #E3E3E3;
    padding-top: 58px;
    padding-bottom: 29px;
}
.navi_bar_bottom{
    margin-bottom: 14px;
}
.container_referal_bottom{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.bottom_referal{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 0px;
    margin-bottom: 10px;
}
.bottom_referal_phones{
    font-size: 18px;
}
.conf_politic{
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #979797;
    text-decoration: none;
}
.conf_politic:hover{
    text-decoration: none;
    transition: 0.5s;
}

/*Bottom_sprites*/
.sprites{
    background-image: url(./sprites/full_set.png);
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    display: inline-block;
    transition: all 0.2s ease-out;
}
.facebook{
    background-position: left bottom;
}
.facebook:hover{
    background-position: left top;
}
.vkontakte{
    background-position: -32px bottom;
}
.vkontakte:hover{
    background-position: -32px top;
}
.odnoklassniki{
    background-position: -62px bottom;
}
.odnoklassniki:hover{
    background-position: -62px top;
}
.youtube{
    background-position: -92px bottom;
}
.youtube:hover{
    background-position: -92px top;
}
.instagramm{
    background-position: -122px bottom;
}
.instagramm:hover{
    background-position: -122px top;
}

@media (min-width: 2560px){
    .carusel_topic {
        width: 30%;
        left: 725px; 
    }
    .carousel-indicators {
        right: 800px;
    }
    .carousel-control-next, .carousel-control-prev {
        width: 53%;
    }
    .control_bottom_prev, .control_bottom_next {
        width: 15%;
    }
}
@media (max-width: 1024px){
    .carusel_topic {
        padding: 5px 20px;
    }
}
@media (max-width: 996px){
    .menu,.upper_brand{
        display: none;
    }
    .contact_pill{
        color: black;
        background-color: transparent;
        border: none;
    }
    .contact_pill:hover{
        text-decoration: none;
        color: black;
        background-color: transparent;
        border: none;
    }
    .dropdown-menu::after {
        display: none;
    }
    .navbar{
        width: 100%;
        display: block;
        padding: 0px 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .top_section {
        padding: 0;
    }
    .carusel_topic {
        width: 80%;
        left: 55px;
        bottom: 115px;
        padding: 24px 42px;
    }
    .carousel-control-next, .carousel-control-prev {
        display: none;
    }
    .carousel-indicators {
        display: none;
    }
    .arr_of_img_bott_carusel{
        display: flex;
        flex-wrap: wrap;
    }
    .card_product {
        width: 70%;
        margin: 0 auto;
    }
    .navi_bar_bottom {
        text-align: center;
    }
    .bottom_logo_container{
        margin-bottom: 24px;
    }
    .conf_politic{
        text-align: right;
    }
}
@media (max-width: 996px){
    .carusel_topic {
        padding: 0px 15px;
    }
    .card_product {
        width: 80%;
    }
}
