*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*OpenSansBold*/
@font-face{
    font-family: OpenSansBold;
    src: url(./fonts/OpenSans-Bold.ttf);
    
}
/*OpenSansCondBold*/
@font-face{
    font-family: OpenSansCondBold;
    src: url(./fonts/OpenSans-CondBold.ttf); 
}
/*OpenSansCondLight*/
@font-face{
    font-family: OpenSansCondLight;
    src: url(./fonts/OpenSans-CondLight.ttf); 
}
/*OpenSansCondLightItalic*/
@font-face{
    font-family: OpenSansCondLightItalic;
    src: url(./fonts/OpenSans-CondLightItalic.ttf); 
}
/*OpenSansRegular*/
@font-face{
    font-family: OpenSansRegular;
    src: url(./fonts/OpenSans-Regular.ttf); 
}
/*OpenSansSemiBold*/
@font-face{
    font-family: OpenSansSemiBold;
    src: url(./fonts/open-sans-semibold_[allfont.ru].ttf); 
}
/*OpenSansSemiBoldItalic*/
@font-face{
    font-family: OpenSansSemiBoldItalic;
    src: url(./fonts/open-sans-semibold-italic.ttf); 
}

/*Content sizing*/
.content_sizing{
    max-width: 1200px;
    margin: 0 auto;
}

/*Header*/
.top_section{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
.kompozit_logo{
    font-family: OpenSansBold;
    font-size: 30px;
    letter-spacing: 3px;
    color: #00AEEF;
    margin: 0px;
    transform: matrix(1.05, 0, 0, 1, 0, 0);
}
.logo_under{
    font-family: OpenSansRegular; 
    font-size: 11px;
    color: #000000;
    margin: 0px;
}
.nav-item{
    margin: 16px 8px;
}
.nav-link{
    text-transform: uppercase;
    font-family: OpenSansRegular;
    color: black;
    font-size: 14px;
    padding: .5rem 1.6rem;
}
.nav-link:hover{
    text-decoration: underline;
    transition: 0.5s;
}
.contact_pill{
    color: white;
    background-color: #00AEEF;
    border: 1px solid  #00AEEF;
}
.contact_pill:hover{
    text-decoration: none;
    color: #00AEEF;
    background-color: white;
    border: 1px solid  #00AEEF;
    transition: 0.5s;
}
.number{
    font-family: OpenSansBold;
}
.dropdown-menu{
    margin-top: 8px;
    padding: 16px;
    border: none;
    transition: 1s;
}
.dropdown-menu::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    left: 64px;
    box-sizing: border-box;
    border: 8px solid black;
    border-color: transparent transparent white white;
    transform-origin: 0 0;
    transform: rotate(45deg);
    box-shadow: -0.125rem -.125rem .25rem rgba(0,0,0,.075)!important

}
.dropdown-item{
    margin-bottom: 16px;
    
}
.dropdown-item:hover{
    text-decoration: underline; 
    transition: 0.5s;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black;
    text-decoration: underline;
    background-color: transparent;
}

/*About*/
.title_about{
    text-align: center;
    font-size: 34px;
    font-family: OpenSansRegular;
    margin-top: 94px;
    margin-bottom: 52px;
}
.description_about{
    text-indent: 16px;
    font-family: OpenSansRegular;
    margin-bottom: 98px;
}

/*Our_product*/
.title_our_product{
    text-align: center;
    font-size: 34px;
    font-family: OpenSansRegular;
    margin-bottom: 56px;
}
.container_cards{
    margin-bottom: 36px;
}
.card_product{
    text-align: center;
}
.image_card{
    width: 100%;
    height: 168px;
}
.title_of_card{
    margin-bottom: 18px;
    font-family: OpenSansSemiBold;
    font-size: 18px;
}
.area_of_card{
    height: 45%;
    border: 1px solid #B7B7B7;
    padding: 26px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.card_with_back_small{
    height: 97%;
    border: 1px solid black;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 160px;
    background-image: url(./images/spech_mat_shaded.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.card_with_back_large{
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 160px;
    background-image: url(./images/shaded_gears.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.pill_for_product{
    color: white;
    background-color: #00AEEF;
    text-align: center;
    border-radius: .25rem;
    font-family: OpenSansRegular;
    font-size: 14px;
    padding: .5rem 1.6rem;
    border: 1px solid  #00AEEF;
}
.pill_for_product:hover{
    color: #00AEEF;
    background-color: white;
    border: 1px solid  #00AEEF;
    text-decoration: none;
    transition: 0.5s;
}
.overlay_small{
    position: absolute;
    opacity: 1;
    top: -0;
    right: 15px; 
    text-align: center;
    background-color: #754C24;
    padding: 8px 24px;
}
.overlay_large{
    position: absolute;
    opacity: 1;
    top: 35px;
    left: 16px;
    text-align: center;
    background-color: #B48A0A;
    padding: 8px 24px;
}
.overlay_title{
    font-size: 18px;
    color: white;
}



/*Our_advantages*/
.our_advantages{
    padding-top: 100px;
    padding-bottom: 100px;
}
.title_of_advantages{
    text-align: center;
    font-size: 34px;
    font-family: OpenSansRegular;
    margin-bottom: 56px;
}
.caption_advanteges{
    padding: 16px;
    font-size: 16px;
}
.card_advanteges{
    text-align: center;
}

/*Our_partners*/
.our_partners{
    background-color: #F9F9F9;
    padding-top: 64px;
    padding-bottom: 100px;
}
.title_partners{
    text-align: center;
    font-size: 34px;
    font-family: OpenSansRegular;
    margin-bottom: 56px;
}

/*Bottom footer*/
.bottom{
    background-color: #E3E3E3;
    padding-top: 32px;
    padding-bottom: 24px;
}
.bottom_referal{
    font-family: OpenSansSemiBold;
    padding: 0px;
    margin-bottom: 18px;
}
.conf_politic{
    font-size: 11px;
    font-family: OpenSansRegular;
    color: #979797;
    text-decoration: none;
}
.conf_politic:hover{
    text-decoration: none;
    transition: 0.5s;
}